.nosotros {
    background-color: #f9e0e3;
    padding: 40px 20px;
    .nosotros_contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .nosotros_imagen-container {
            max-width: 400px;
            margin: 0 auto;
            .nosotros_imagen {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 8px;
                &:hover {
                    transform: scale(1.05);
                    img {
                        transform: scale(1.1);
                        transition: 1s;
                    }
            }
        }
    } 
}
    .nosotros_contenido {
        max-width: 600px;
        text-align: center;
        margin: 40px auto 0 auto;
        .nosotros_titulo {
            font-size: 2rem;
            font-family: "Poppins";
            margin-bottom: 20px;
            color: $color-primario;
            &:hover {
                background-color: #ee698450;
                transition: 1s;
                transform: scale(1.05);

            }
        }
        .nosotros_descripcion {
            font-size: 1.2rem;
            color: #444;
        }
    }
}
